body[alink="#0000be"] {
	background-color: $background;
	width: 35%;
	margin: 0 auto;

	b {
		display: block;
		font: {
			size: 5rem;
			weight: 300;
		}

		padding: 2rem 0 2rem 0;
	}
}

body[alink="#0000be"]::before {
	// Injects the "Y" 
	display: block; 
	content: "Login to Hacker News";
	color: $title;
	background: $hn-orange;
	font: {
		size: 8rem;
		weight: 300;
	}
	padding: 2rem 0 2rem 0;
	text-align: center;
}



input[value="login"], input[value="create account"]{
	@extend input[value="add comment"];
	width: 20rem;
}

