// Import Partials
@import "partials/base";
@import "partials/reset";
@import "partials/fonts";
@import "partials/colors";

// Text
// Setting up 1 rem = 10 px
html {
	font: {  
		size: 62.5%;							
		family: 'Source Sans Pro';				
	}
}

// Header

// Text in header
.pagetop {
	display: block;
	color: $title;

	font: {
		size: 2.2rem;
		weight: 600;
	}

	padding: {
		left: 2.6rem;
	}

	a {
		color: $title;
		padding: {
			left: 0.5rem;
			right: 0.5rem;
		}
	}
}
// Hiding Current Logo
img[src*="y18.gif"] {
	display: none;
}

// Creating New Logo Using CSS and HTML
// Done by injecting HTML
td[style="width:18px;padding-right:4px"] {
	a[href="http://ycombinator.com/"]::before {
		display: block;
		content: "Y";
		color: white;
		font: {
			family: 'Source Sans Pro';
			size: 2.2rem;
			weight: 400;
		}	
		padding: {
			top: 1rem;
			bottom: 1rem;
			left: 1.5rem;
			right: 1.5rem;
		}	
		margin: 1.5rem 0rem 1.5rem 0rem;
		border: {
			width: 0.2rem;
			style: solid;
			color: white;
			radius: 25%;
		}
	}
}


// Controls thread titles on main page, and actual threads
// The thread number and actual thread title each have this class
.title, .adtitle {
	font: {
		weight: 400;	
		size: 2.3rem;
	}	
	line-height: 1.4;						
}

// Make thread number grey instead of black
.title:nth-child(1) {
	color: $subtext;
}

// Controls the text below thread titles that contains username, points, comment links
// Controls url stubs at the end of thread titles
.subtext, .comhead {
	font: {
		size: 1.6rem;
		weight: 300;
	}
	color: $subtext;

	a {
		font-weight: 600;
		color: $subtext;
	}

	a:hover {
		text-decoration: underline;
	}
}


// Removes default blue color and underline from links from links
a {
	text-decoration: none;						
	color: $title;
}

// Comments
.comment {
	font-size: 2.2rem;
	line-height: 1.4;
}

// Code Samples 
code {
	font: {
		family: Source Code Pro;
		size: 1.8rem;
	}
	line-height: 1.2;
}

// Replaces .gif based vote arrow with css triangle
.votearrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 8px solid gray;
} 


// Footer

.yclinks {
	display: block;
	padding-top: 1rem;
	font: {
		weight: 400;
		size: 1.5rem;
	}

	a {
		padding: {
			left: 0.3rem;
			right: 0.3rem;
		}
	}
}

// "Search" and its text box
form[action="//hn.algolia.com/"] {
	font-size: 2rem;

	input {
		color: $title;
		font: {
			family: Source Code Pro;
			size: 1.8rem;
		}
		width: 30rem;
	}
}

// Comment Box

textarea[name="text"] {
	display: block;
	width: 75rem !important;
	height: 12rem !important;

	font: {
		family: Source Code Pro;
		size: 1.6rem;
	}
}
textarea:focus {
	outline: none !important;
	border: 0.2rem solid $hn-orange;
}

// Comment Button
input[value="add comment"] {
	-webkit-appearance: none;	// Removes default button styling

	font: {
		family: Source Sans Pro;
		size: 2rem;
	}
	color: $title;
	padding: 1rem;
	border: none;
	background-color: $hn-orange;
}
// Layout

// The Container


// Grid is 960px
// Optimal line length based on 90 characters per line is 820px
// 70px padded (via margins) on left and right side

table[width='85%'] {
	background-color: $background;
	width: 96rem;

	// Pads page body by 140px
	border-left: {
		width: 6rem;
		color: $background;
		style: solid;
	}

	border-right: {
		width: 6rem;
		color: $background;
		style: solid;
	}
	
}

// Orange Header 
td[bgcolor="#ff6600"] {
	display: block;
	height: 0.5rem;

	// Pads page body by 140px
	border-left: {
		width: 10rem;
		color: $hn-orange;
		style: solid;
	}

	border-right: {
		width: 6rem;
		color: $hn-orange;
		style: solid;
	}
}

// Increase Spacing between Header and Page Content
// Selects the title class and pads the top of every title by 20px
td.title {
	display: block;
	padding-top: 1.4rem;
}


// Pads between votearrow and thread title
.votearrow {
	margin-right: 2rem;
}

// Pads between comments
.default {
	padding: {
		top: 1rem;
	}
}

// Pads between vote arrow and thread number
.title:nth-child(1) {
	padding-right: 2rem;
}

// Adds padding to the subtext below the titles
// For main page, title text is 3rd child
// For thread page, title text is 2nd child

.title:nth-child(3), .title:nth-child(2) {
	padding-bottom: 0.3rem;
}


// Pads the username text above comments 
span.comment {
	display: block;
	padding-top: 0.5rem;
}

tr[style="height:10px"] {
	height: 30px !important;
}

// Within the username text above comments, pads the words
.comhead {
	// username
	a:nth-child(1) {
		padding-right: 0.3rem;
	}
	// 'link'
	a:nth-child(2) {
		padding-left: 0.2rem; 
	}
}

// Pads between paragraphs:
p{
	padding-top: 1.8rem;
}

// Overflows code that exceeds line-lengths
// Pads code samples
pre {
	overflow: auto;
	padding: {
		left:1rem;
		bottom: 1.5rem;
	}
	max-width:800px;
}

pre:hover {
	overflow:auto;
}