// Import Partials
@import "partials/base";
@import "partials/reset";
@import "partials/fonts";
@import "partials/colors";

@import "partials/header";
@import "partials/titles";
@import "partials/comments";
@import "partials/footer";
@import "partials/inputs";
@import "partials/login";

// Text
// Setting up 1 rem = 10 px
html {
	font: {  
		size: 62.5%;							
		family: Source Sans Pro, SourceSansPro;				
	}
}

body {
	width: 100%;
	background: $background;
}

// Removes default blue color and underline from links from links
a {
	text-decoration: none;						
	color: $title;

	&:visited {
		color: $title;
	}
}

// Replaces .gif based vote arrow with css triangle
.votearrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 8px solid gray;
} 


// Layout

// The Container


// Grid is 960px
// Optimal line length based on 90 characters per line is 860px
// 100px padded (via margins) on left and right side

center {
	display: block;
	margin: 0 auto;
	max-width: 96rem;
}

table[width='85%'] {
	background-color: $background;
	width: 100% !important;

	border-left: {
		width: 5rem;
		color: $background;	
		style: solid;
	}

	border-right: {
		width: 5rem;
		color: $background;
		style: solid;
	}
}


