$almost_black: 			#222222;
$dark_grey: 			#696969;
$medium_grey:			#b5b5b5;
$light_grey: 			#f1f1f1;
$black: 				#000000;
$orange:				#ff5a27	;

$title: 				$almost_black;
$subtext:				$dark_grey;
$comment: 				$black;
$background: 			$light_grey;
$hn-orange: 			$orange;
$visited: 				$medium_grey;