$almost_black: 			#222222;
$dark_grey: 			#696969;
$medium_grey:			#b5b5b5;
$light_grey: 			#f1f1f1;
$lighter_grey:			#f9f9f9;
$black: 				#000000;
$orange:				#ff5a27;
$please_js_orange:		#F0652F;


$title: 				$almost_black;
$subtext:				$dark_grey;
$comment: 				$black;
$background: 			$lighter_grey;
$hn-orange: 			$please_js_orange;
$visited: 				$medium_grey;