// The first line of a self post is infuriatingly
// wrapped in just a td tag
// So it needs to be styled 
td {
	font-size: 2.1rem;
}

// Giving td's font sizes also makes every br that many px high
// This breaks almost everything
br {
	display: none;
}

// Pads top of commments section from title
table[width="85%"] > tbody > tr:nth-child(3) > td > table[border="0"]:nth-child(1) {
	margin-bottom: 4rem !important;
}


// Comment Body
.comment {
	font-size: 2.1rem;
	line-height: 1.4;

}
.comment a:link, .comment a:visited {
	text-decoration:underline;
}


// Pads between comments
.default {
	padding-bottom: 0.5rem; 
}

// Within the username text above comments, pads the words
.comhead {
	// username
	a:nth-child(1) {
		padding-right: 0.3rem;
	}
	// 'link'
	a:nth-child(2) {
		padding-left: 0.2rem; 
	}
}


// Pads the username text above comments 
span.comment {
	display: block;
	padding-top: 2rem;
}


// Pads between paragraphs:
p {
	font-size: 2.1rem;
	padding-top: 1.8rem;
}


// Code Samples in Comments
code {
	font: {
		family: Source Code Pro;
		size: 1.4rem;
	}
	line-height: 1.3;
}

// Overflows code that exceeds line-lengths
// Pads code samples
pre {
	overflow: auto;
	padding: {
		left:1rem;
		bottom: 1.5rem;
	}
	max-width:800px;
}

pre:hover {
	overflow:auto;
}


// Comment Reply 
font[size="1"] {
	a {
		display: block;
		color: $title;
		font-size: 1.7rem !important;
		margin-top: -0.2rem;	// Between parent comment and itself
		margin-bottom: 1.5rem;	// Between child comment and itself
	}
}