
// Text in header
.pagetop {
	color: $title;

	font: {
		size: 2.1rem;
		weight: 400;
	}

	// Space between YC logo and header links
	padding: {
		left: 2.6rem;
	}

	// Links in header
	a {
		color: $title;
		padding: {
			left: 0.5rem;
			right: 0.5rem;
		}
	}

	font {
		display: block;
		//text-align: center;
		padding: {
			top: 2rem;
			left: 3rem;
		}
	}
}

// Hiding Current Logo
img[src*="y18.gif"] {
	display: none;
}

// Creating New Logo Using CSS and HTML
// Done by injecting HTML

td[style="width:18px;padding-right:4px"] {
	a[href="http://ycombinator.com"]::before {
		// Injects the "Y" 
		display: block; 
		content: "Y";
		color: $title;
		font: {
			size: 2.2rem;
			weight: 400;
		}

		// Box around "Y"
		border: {
			width: 0.2rem;
			style: solid;
			color: $title;
			radius: 25%;
		}

		// Padding around box to generate logo
		padding: {
			top: 1rem;
			bottom: 1rem;
			left: 2rem;
			right: 2rem;
		}	

		// Space above and below "Y" to generate header height
		margin: 1.5rem 0rem 1.5rem 0rem;

		img {
			display: none;
		}
	}
}

// Selects header and makes it as wide as the page. 
body > center > table > tbody > tr:first-child > td:first-child {
	background-color: $hn-orange !important;
	position: absolute;
	width: 100%;
	left: 0px;

	// Makes the Header Content fit inside the 960px grid
	table {
		max-width: 96rem;
		margin: 0 auto;
	}	
}