body[alink="#0000be"] {
	background-color: $background;
	width: 35%;
	margin: 0 auto;
	font-size: 2rem;
	b {
		display: block;
		font: {
			size: 5rem;
			weight: 300;
		}
		padding: 2rem 0 2rem 0;

	}
}

body[alink="#0000be"]::before {
	// Injects the "Y" 
	display: block; 
	text-align: center;
	content: "Hacker News";
	color: white;
	background: $hn-orange;
	font: {
		size: 8rem !important;
		weight: 600;
	}

	padding: 2rem 0 2rem 0;
}




input[value="login"], input[value="create account"]{
	@extend input[value="add comment"];
	width: 20rem;
}


// 
form[action="/y"]> table > tbody > tr > td,  form[action="/x"]> table > tbody > tr > td {
	// Field labels
	padding-right: 2rem;
	// Fields

	> input:-webkit-autofill {
		margin-top: 2rem;
		-webkit-box-shadow: 0 0 0 1000px white inset !important;
		border: 2px solid #dedede;
		height: 3rem;
		width: 20rem;
		font: {
			size: 2rem;
			weight: 300;
		}

		&:focus{
			border-color: $hn-orange;
		}
	}
}
