

form[action="/x"]> table > tbody > tr > td[valign="top"] {

	// Aligns field names
	vertical-align: top;
	padding-bottom: 0.8rem;
}

form[action="/x"]> table > tbody > tr > td {
	max-width: 76rem;
}


// Pads top of profile from header
form[action="/x"] {
	padding-top: 2rem;
}

// Formatting help link under "about"
// Makes text larger and pads it

font[size="-2"] {
	display: block;
	font-size: 2rem !important;
	margin: 1rem 0 1rem 0;
}
textarea[name="about"] {
	margin-top: 0.5rem;
	width: 50rem;
	height: 10rem;
}



input[name="email"] {
	@extend textarea;
	margin-top: 0.2rem;
	height: 3rem;
	width: 50rem;
}

input[name="maxvisit"], input[name="minaway"], input[name="topcolor"], input[name="delay"] {
	@extend textarea;
	width: 10rem;
}

// 
select, option{
	font-size: 1.6rem;
	border: 3px solid #dedede;
	border-radius: 0;
	color: black;
	padding: 0.5rem;
	-webkit-appearance: none;
	background-color: white;
	background-transparency: 0.5;
	background-position: right 15px top 22px;
	background-size: 18px 18px;
}
select:active {
	border: 1px solid #000;
}


input[value="update"] {
	@extend input[value="add comment"];
	padding-left: 5rem;
	padding-right: 5rem;
}